* {
  font-family: "Geist Variable", sans-serif;
}
.skills-page {
  max-width: 1400px;
  margin: auto;
  padding: 100px 120px 60px;
}

.skills-title {
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding-bottom: 12px;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
}

.skills-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 3px;
  background: #00e5ff;
  box-shadow:
    0 0 10px #00e5ff,
    0 0 20px #00e5ff;
  border-radius: 2px;
}

.skill-section {
  margin-bottom: 70px;
}

.skill-section h2 {
  color: white;
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 30px;
}

/* GRID */

.skills-grid {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  gap: 25px;
}

/* CARD */

.skill-card {
  height: 150px;
  background: linear-gradient(
    145deg,
    rgba(8, 10, 40, 0.95),
    rgba(4, 6, 28, 0.95)
  );

  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid rgba(0, 229, 255, 0.08);
  transition: all 0.3s ease;
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: 12px;
  transition: all 0.3s ease;
}

.skill-card p {
  color: white;
  font-family: "Geist Variable", sans-serif;
  font-size: 0.85rem;
  font-weight: 500;
}

.skill-icon {
  font-size: 4rem;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 2px transparent);
}
