.container:hover{
    border : 3px white solid;
    border-radius : 50px;
}

/* Wrapper */
.projects-wrapper {
  padding: 50px 20px;
  min-height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* Title */
.projects-title {
  text-align: center;
  font-size: 42px;
  color: #ffffff;
  position: relative;
}

.projects-title::after {
  content: "";
  width: 120px;
  height: 3px;
  background: #00e7ff;
  display: block;
  margin: 10px auto 0;
  border-radius: 10px;
  animation: titleGlow 2s infinite alternate;
}

@keyframes titleGlow {
  from {
    box-shadow: 0 0 10px #00e7ff;
  }
  to {
    box-shadow: 0 0 25px #00e7ff;
  }
}
.projects-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 40px;
}

.project-card {
  padding: 20px;
  min-height: 350px;
  border-radius: 20px;
  border: 1px solid #00e7ff;
  color: white;
  transition: transform 0.3s ease,box-shadow 0.3s ease  ;
}

.project-card:hover {
  cursor : pointer;
  transform: scale(1.05);
  box-shadow: 0 0 30px #00e7ff;
}

.hackathonPage .icons i{
    font-size : 30px;
}
.achievements-hero{
  color : white;
  margin-top: 50px ;
  margin-left: 600px;
  
}
