 
.nav1{
    background-color:black;
    color : white;
    margin-top : 10px;
    margin-left : 10px;
    display : flex;
    border-radius: 120px;
    border : white solid 5px;
}
.logo{
    font-size : 22px;
    margin-left : 30px;
    margin-top : 10px;
     border-radius: 120px;
    font-family : cursive;
    cursor : pointer;   
}
.menu{
    
    border-radius: 120px;
}
.menu ul{
    margin-left : 100px;
    display : flex;
}

.menu ul li{
     border-radius: 120px;
    margin-top: 10px;
    margin-left : 50px;
    list-style : none;
}
.menu ul li a{
     border-radius: 120px;
    text-decoration : none;
    color : white;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 20px;
    cursor : pointer;
}
.err-img{
    background-color:black;
    height :700px;
    width : 800px;
}
.homePage-top{ 
    background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    );  
    height : 100vh;  
    width : 100%;
    color: white;
    display : flex;
    flex-direction : row;
}
.homePage-left{
    background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    );  
    background-color:white;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left : 30px;
    margin-top : 220px;
    width : 50%;
}
.homePage-left h1{
    color: #e6edf3;
    font-size : 50px;
}
.homePage-left h2{
    color: white;
    font-size: 40px;
}
.homePage-left h3{
    color: white;
    font-size: 25px;
    padding : 10px;
}
.homePage-right img {
    margin-top: 120px;
    margin-left: 100px;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    object-fit: cover;

    /* Main Glow Layer */
    box-shadow:
        0 0 40px rgba(255, 255, 255, 0.15),
        0 0 100px rgba(80, 102, 255, 0.25),
        0 0 160px rgba(80, 102, 255, 0.35);

    /* Smooth animation */
    animation: glowPulse 4s ease-in-out infinite;
}

@keyframes glowPulse {
    0% {
        box-shadow:
            0 0 30px rgba(255, 255, 255, 0.15),
            0 0 80px rgba(80, 102, 255, 0.25),
            0 0 140px rgba(80, 102, 255, 0.35);
    }
    50% {
        box-shadow:
            0 0 60px rgba(255, 255, 255, 0.18),
            0 0 130px rgba(80, 102, 255, 0.30),
            0 0 200px rgba(80, 102, 255, 0.45);
    }
    100% {
        box-shadow:
            0 0 30px rgba(255, 255, 255, 0.15),
            0 0 80px rgba(80, 102, 255, 0.25),
            0 0 140px rgba(80, 102, 255, 0.35);
    }
}
.icons{
    margin-top : 50px;
    font-size : 20px;
    display: flex;
    cursor : pointer;
}

.icons div{
    margin-left: 25px;
}
.homePage-down{
    background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    );  
    display: flex;
    align-items: center;
    flex-direction: column;
    height : 100vh;
    width : 100%;
    color : white;
    
}
.homePage-down i{
    color : white;
    font-size: 100px;
}
 
.mass-container{
    width : 100%;
    display: flex;
   
}
.homePage-down h3{
    margin-top: 20px;
}
.container{
    
    padding : 15px;
    flex-direction:column;
    align-items: center;
    display: flex;
    width : 450px;
    
}
