
.nav1{
    top : 0px;
    display : flex;
}
.logo{
    font-size : 22px;
    margin-left : 30px;
    top : 0px;
    font-family : cursive;
    cursor : pointer;   
}

.menu ul{
    margin-left : 100px;
    display : flex;
}

.menu ul li{
    margin-left : 50px;
    list-style : none;
}
.menu ul li a{
    text-decoration : none;
    color : black;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 20px;
    cursor : pointer;
}
.err-img{
    background-color:black;
    height :700px;
    width : 800px;
}