*{
     
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
}
.nav1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display:flex;
    flex-direction: row;
    height:60px; 
    color:black;
}
body {     
    color:white;    
}
.hero h3,p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero{
    background-image:url('portfolio\src\assets\bg2.png');
    padding-top: 100px; 
    height:100vh;
    align-items: center;
    display:flex;
     
}
.hero .intro{
    padding-left:400px;
}
.hero img{
    width:100px;
    height: 100px;
}
.nav1 .logo{
    line-height:30px;
    font-weight: 1000;
    color:black;
}
.nav1 ul {
     display:flex;
    flex-direction:row;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 150px;
    margin:11px;
}
.nav1 .menu{
     margin-left:210px;
    padding:10px;
    margin-top: 8px;
}
.nav1  ul li a{
     text-decoration: none;
    text-align: justify;
    justify-content: space-around;
    padding-left:20px;
    margin-top:0px;
}
 
.nav1 .menu  li {   
     margin-left: 20px;
}
.nav1 ul li a {
     font-weight:  800;
color:black;
}

html{
    scroll-behavior: smooth;
}
.about{
    color:black;
}
.about .card div{
    align-items: center;
    flex-direction: row;
    width:100%;
    height:300px;
    border-radius:30px;
    border:2px solid #000;
    transition:all 1s ease;
    border:2px solid red;
    border-right-color: black;
    border-left-color:white;
}
section {
  scroll-margin-top: 80px;
}

