 *{
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    ); 
 }
 img{
    cursor : pointer;
    
 }
 .homePage-right img:hover{
    transform : scale(2);
    transition : 0.3s ease;
 }
.nav1{
    background-color:black;
    color : white;
    margin-top : 10px;
    margin-left : 10px;
    display : flex;
    border-radius: 120px;
    border : white solid 5px;
}
.logo{
    font-size : 22px;
    margin-left : 30px;
    margin-top : 10px;
     border-radius: 120px;
    font-family : cursive;
    cursor : pointer;   
}
.menu{
    
    border-radius: 120px;
}
.menu ul{
    margin-left : 100px;
    display : flex;
}

.menu ul li{
     border-radius: 120px;
    margin-top: 10px;
    margin-left : 50px;
    list-style : none;
}
.menu ul li a{
     border-radius: 120px;
    text-decoration : none;
    color : white;
     
    font-size : 20px;
    cursor : pointer;
}
.err-img{
    position : fixed;
    background-color:black;
    height :700px;
    width : 800px;
}
.homePage-top{ 
      
    height : 100vh;  
    width : 100%;
    color: white;
    display : flex;
    flex-direction : row;
}
.homePage-left{
    
    background-color:white;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left : 30px;
    margin-top : 220px;
    width : 50%;
}
.homePage-left h1{
    color: #e6edf3;
    font-size : 50px;
}
.homePage-left h2{
    color: white;
    font-size: 40px;
}
.homePage-left h3{
    color: white;
    font-size: 25px;
    padding : 10px;
}
.homePage-right img {
    margin-top: 120px;
    margin-left: 100px;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    object-fit: cover;

    /* Main Glow Layer */
    box-shadow:
        0 0 40px #00e7ff
        0 0 100px #00e7ff
        0 0 160px #00e7ff;

    /* Smooth animation */
 
}
.homePage-right img:hover{
    transform: scale(1.05);
    box-shadow:0 0 25px white;
}

 
.icons{
    margin-top : 50px;
    font-size : 20px;
    display: flex;
    cursor : pointer;
}

.icons div{
    margin-left: 25px;
}
.homePage-down{
    background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    );  
    display: flex;
    align-items: center;
    flex-direction: column;
    height : 100vh;
    width : 100%;
    color : white;
    
}
.homePage-down i{
    color : white;
    font-size: 100px;
}
 
.mass-container{
    width : 100%;
    display: flex;
   
}
.homePage-down h3{
    margin-top: 20px;
}
.container{
    
    padding : 15px;
    flex-direction:column;
    align-items: center;
    display: flex;
    width : 450px;
    
}
.hackathonPage{
    margin-left : 400px; 
    margin-right : 400px;
    margin-top : 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    color : white;
}
.hackathonPage div{
    border-radius : 20px;
}

.hackathonPage-box{
    border-radius : 20px;
    height : 300px;
    margin-top: 30px;
     background: linear-gradient(
        180deg,
        #0f0a25,   /* top purple tint */
        #0c1022,   /* center deep blue */
        #0d1228    /* bottom navy */
    ); 
    display: flex;
    flex-direction: column;
    border: 3px solid #00e7ff;
    cursor : pointer;
    
}
.hackathonPage-box:hover{
    box-shadow: 0 0 30px #00e7ff;
    transform: scale(1.05);
}
.hackathonPage-box div{
    margin-left  : 10px;
    margin-top  : 10px;
}
.education-box {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
    gap: 40px; /* space between cards */
    color: white;
    justify-items: center;
}

.edu-card div{
    margin-top : 20px;
    margin-left : 20px;
}
.edu-card {
    border-radius: 10px;
    height: 300px;
    width: 100%;        /* take grid column width */
    max-width: 500px;  /* optional limit */
    border: 3px solid white;
}
@media (max-width: 900px) {
    .education-box {
        grid-template-columns: 1fr; /* 1 card per row on mobile */
    }
}

.edu-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #00e7ff;
}


 

